
<% if notice %> <div class="box white invisible">
<p class="notice"><%= notice %></p>
</div>
<% end %>
<% if alert %>
<div class="box white invisible">
<p class="alert"><%= alert %></p>
</div>
<% end %>