<div class="white box">
<div class="deductible-box">
<div class="category-information">
<h3 class="category title"><%= deductible.name %></h3>
<p class="date"><%= deductible.updated_at %></p>
</div>
<div class="category-information">
<p class="total">$<%= deductible.amount %></p>
</div>
</div>
</div>