@font-face {
  font-family: "Proxima1";
  src: url(/fonts/Proxima1.otf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Proxima2";
  src: url(/fonts/Proxima2.otf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Proxima3";
  src: url(/fonts/Proxima3.otf) format("truetype");
}

@font-face {
  font-family: "Proxima4";
  src: url(/fonts/Proxima4.otf) format("truetype");
  font-weight: lighter;
}
