/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "embeded_fonts";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
    font-family: "Proxima3", serif;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: #f1f3f2;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

.grad {
    background-image: linear-gradient(#2d629e
    , #3474c7);
}

.button {
    background-color: #377bc2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

.white {
    background-color: white;
    color: gray;
}

.background {
    background-color: #f1f3f2;
    color: gray;
}

.field {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    align-items: center;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: gray;
}
.b {
    grid-template-columns: 90% 10%;
}

.box {
    margin-top: 15px;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 15px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

input:focus {
    outline: none;
}

input {
    border: none;
    background: transparent;
    height: 100%;
    font-size: 15px;
}

.last {
    border-bottom-style: none;
    border-width: 0;
}

header{
    width: 100vw;
    text-align: center;
    height: 7.5vh;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.action{
    width: 18vw;
    height: 22px;
    margin-top: 2.25vh;
};

.header-element{
    width:22%;
    height: 100%;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.wl {
    color:white
}

.arrow {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vh;
    color: white;
}

a {
    text-decoration: none;    
}

.alert,
.notice
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    width: 100%;
    height: 77.6vh;
}

.complete {
    display:grid;
    width: 99.5vw;
    height: 6.5vh;
    margin: 0;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}

.content2 {
    width: 100%;
    height: 73.6vh;
}

.add{
    width: 100%;
    height: 12.5vh;
    background-color: #5fb523;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    background-color: #5fb523;
}

.total-box{
    width: 100%;
    height: 7.5vh;
}

#image-uploader {
    cursor: pointer;
    margin-top: 10%;
}

.exepction{
    grid-template-columns: 20% 80%;
}

.total {
    color: black;
    text-align: center;
    margin: 0;
}

.checkbox {
    height: 15px;
    font-size: 15px;
}
