// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.category-portrait {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.category-box {
    display: grid;
    height: 150px;
    grid-template-columns: 40% 30% 30%;
}
.category-image {
    width: 100%;
    height: 100%;
}

.category-information {
    align-items: center;
    justify-content: center;
    display: grid; 
    grid-template-rows: 50% 50%;
}