  <header class="grad">
  <div class="header-element"></div>
  <div class="header-element"><h2 class="wl light">CATEGORIES</h2></div>
  <div class="header-element"><%= link_to(destroy_user_session_path, method: :delete) do %>
  <h2 class= "wl light">Logout</h2>
  <% end %>
  </div>
  </header>
  <div class=content>
  <% current_user.categories.each do |category| %>
  <%= render partial: "categories/category", object: category %>
  <% end %>
  </div>
  <div class="add">
  <%= link_to 'ADD A NEW CATEGORY', categories_create_path, class: "giant button create" %>
  </div>
